
<head>
  

    <link rel="stylesheet" href="../../node_modules/bootstrap/css/bootstrap.min.css">
    <script src="../../node_modules/bootstrap/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      </head>
    
<div class="container"> 

    <div class="row"> 
        <div  class="col-md-4">
            <h2> Partners & Powers</h2>
            <button >New Assign All</button>
            <button >Delete All</button> 
        </div>
    <div  class="col-md-4">
      <h2>Partners</h2>
      <button >Add Partner</button>
      <button >Delete Partner</button>
    </div>
    <div  class="col-md-4">
        <h2>Powers</h2>
        <button >Add Power</button>
        <button >Remove Power</button>
    </div>
</div>   
</div>   

