
<head>

    <link rel="stylesheet" href="../../node_modules/bootstrap/css/bootstrap.min.css">
    <script src="../../node_modules/bootstrap/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    
<div class="container"> 

    <div class="row"> 
        <div  class="col-md-4">
            <h2> Partners & Powers  
            </h2>
        
<ngbd-modal-component [buttonName]="buttonNames[0]" [title]="buttonTitles[0]"[type]="buttonTypes[1]" [body]="buttonBodies[0]"  ></ngbd-modal-component>&nbsp;
<ngbd-modal-component [buttonName]="buttonNames[1]" [title]="buttonTitles[0]"[type]="buttonTypes[2]" [body]="buttonBodies[1]"  ></ngbd-modal-component>

        </div>
    <div  class="col-md-4">
    <h2>Partners</h2> 
    <ngbd-modal-component [buttonName]="buttonNames[2]" [title]="buttonTitles[0]"[type]="buttonTypes[3]" [body]="buttonBodies[2]"  ></ngbd-modal-component>&nbsp;
    <ngbd-modal-component [buttonName]="buttonNames[3]" [title]="buttonTitles[0]"[type]="buttonTypes[4]" [body]="buttonBodies[3]"  ></ngbd-modal-component>   
    </div>
    <div  class="col-md-4">
        <h2>Powers</h2>
        <ngbd-modal-component [buttonName]="buttonNames[4]" [title]="buttonTitles[0]"[type]="buttonTypes[5]" [body]="buttonBodies[4]"  ></ngbd-modal-component>&nbsp;
        <ngbd-modal-component [buttonName]="buttonNames[5]" [title]="buttonTitles[0]"[type]="buttonTypes[6]" [body]="buttonBodies[5]"  ></ngbd-modal-component>
        
    </div>
    
</div>   
</div>   



