
<head>

    <link rel="stylesheet" href="../../node_modules/bootstrap/css/bootstrap.min.css">
    <script src="../../node_modules/bootstrap/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    
<div class="container"> 

    <div class="row"> 
        <div  class="col-md-4">
            <h2> Partners & Powers  
            </h2>
            
            <button type="button" class="btn btn-secondary" (click)="newAssign()">New Assign All</button>&nbsp;
            <button type="button" class="btn btn-secondary" (click)="deleteAll()">Delete All</button> 
<ngbd-modal-component [buttonName]="buttonNames[0]" [title]="buttonTitles[0]"[type]="buttonTypes[1]" [body]="buttonBodies[0]"  ></ngbd-modal-component>

        </div>
    <div  class="col-md-4">
    <h2>Partners</h2> 
    <button type="button" class="btn btn-secondary" (click)="assign()">Add Partner</button>&nbsp;
    <button type="button" class="btn btn-secondary" (click)="removePartner()">Delete Partner</button>
    </div>
    <div  class="col-md-4">
        <h2>Powers</h2>
        <button type="button" class="btn btn-secondary" (click)="newAssignPower()">Add Power</button>&nbsp;
        <button type="button" class="btn btn-secondary" (click)="removePower()">Remove Power</button>
    </div>
    
</div>   
</div>   



