.hero{

    color: #b5342d;
    text-decoration-style: dotted;
    font-weight: bold;
}

.pet{

    color: #79d66b;
    text-decoration-style: dotted;
    font-weight: bold;
}

.superpower{

    color: #1551b2;
    text-decoration-style: dotted;
    font-weight: bold;
}