
<div class="card" style="width: 15rem;">
    <img class="card-img-top" src="../../../assets/pet.png">
    <div class="card-body">
      <h5 class="card-title">Pet: {{pet.name}}</h5>
     
      <p class="card-text">
          <span style="font-weight: bold;" >Hero:</span>  <span *ngIf="pet.hero">{{pet.hero.name}}</span> 
      <br>  
      <span style="font-weight: bold;">Superpower: </span> <span *ngIf="pet.superpower">{{pet.superpower.name}} </span> 
      <br>  
      <span style="font-weight: bold;">Superpower info: </span><br><span *ngIf="pet.superpower">{{pet.superpower.description}}</span></p>
      <a style="color:white"(click)="goBack()" class="btn btn-primary">Go Back</a>
    </div>
  </div>