<head>
  

  <link rel="stylesheet" href="../../node_modules/bootstrap/css/bootstrap.min.css">
  <script src="../../node_modules/bootstrap/js/bootstrap.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
  
  

<!--The content below is only a placeholder and can be replaced.-->


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  
    <a class="navbar-brand" href="#">
      <img src="../assets/img/superheroe.png" width="30" height="30" alt="">
      {{title}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link"  routerLink="/heroes" skipLocationChange href="#">Heroes </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/pets" skipLocationChange href="#">Pets </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/partners"skipLocationChange  href="#">Partners </a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- <ngbd-modal-component></ngbd-modal-component> -->
<div class="container"> 

  <div class="row"> 
      <div class="col-md-12 assign">
          <app-assign></app-assign>
        </div>
<div class="col-md-8">
  <router-outlet ></router-outlet>
</div>

<div class="col-md-4">
  
    <app-superpower (selectedPowerOutput)="powerEvent($event)"></app-superpower>
</div>

  
    
</div>
</div>
